@import 'reset-css/reset';
@import 'bourbon';
@import 'neat';

body {
    background: blue;
    height: 100vh;
    position:relative;
}
#time {
    color: white;
    font-family: Courier;
    font-weight: 800;
    text-align: center;
    font-size: 6em;
    width: 100%;
    vertical-align: center;
    position:absolute;
    top: 45%;
    }
